@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
}
body{
      overflow-x: hidden;
}
.container{
      max-width: 1420px;
      margin: 0 auto;
      padding: 0 10px;
}
.nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.icon img{
      width: 90px;
}
.main-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.hero{
      margin-top: 70px;
}
.main-right{
      max-width: 500px;
}
.main-left{
      width: 600px;
      height: 400px;
      background-image: url(../imgages/boxing.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      border-radius: 10px;
}
.main-right h1{
      color: black;
      font-size: 48px;
      margin-bottom: 20px;
      font-weight: 700;
}
.main-right p{
      color: black;
      font-size: 24px;
      margin-bottom: 20px;
      font-weight: 400;
}
button{
      border: 2px solid black;
      border-radius: 5px;
      color: black;
      background-color: transparent;
      font-size: 18px;
      font-weight: 700;
      padding: 5px;
      transition: 0.3s;
}
button:hover{
      border: 2px solid gray;
      border-radius: 5px;
      color: gray;
      background-color: black;
}
.battles-content{
      margin-top: 70px;
      text-align: center;
}
.card{
      display: flex;
      align-items: center;
      gap: 5px;
}
.battle-title{
      font-size: 34px;
      font-weight: 700;
}
.battle-cards{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.card img{
      width: 250px;
      height: 250px;
}
.texts{
      max-width: 500px;
      text-align: start;
}
.texts h2{
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 16px;
}
.texts p{
      font-size: 16px;
      font-weight: 400;
}
.icons2 img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
}
.foot{
      margin-top: 70px;
}
.footer-left{
      width: 70px;
      height: 70px;
}
.footer-left img{
      width: 100px;
      height: 100px;
}
.footer-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.about{
      margin-top: 50px;
}
.abou-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
}
.about-title{
      color: black;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
}
.abou-content p{
      color: black;
      font-size: 18px;
      font-weight: 400;
      max-width: 600px;
      margin-top: 20px;
      margin-bottom: 15px;
}